body {
    background-color: #282c34;
    color: white;
    font-family: Arial;
  }

.modal-header {
  color: black;
  background-color: #e7f1ff;
  border-color: #e7f1ff;
}

.modal-body {
    background-color: #282c34;
    color: white;
    font-family: monospace;
    font-size: small;
  }
